article {
  color: var(--text-color);
}
article h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
article p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-indent: 2em;
  font-family: "微软雅黑", "宋体", "arial, helvetica, sans-serif";
}

article a {
  text-decoration: none;
  color: var(--link-color);
}

article ul,
article ol {
  margin-left: 3em;
}

article .title {
  font-size: 2em;
  text-align: center;
  margin: 1.5em;
}

article .v-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
article img.avatar {
  width: 80px;
  height: 80px;
  border-radius: 6px;
}
article img {
  max-width: 100%;
  object-fit: contain;
}

article .copyright-desc {
  margin: 8px 0;
  padding: 8px;
  background-color: var(--primary-color);
  font-style: italic;
  font-size: 0.8em;
  color: var(--sedond-text-color);
}

article p.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  article .title {
    margin: 16px;
  }
}
