article .title {
  font-size: 2em;
  text-align: center;
  margin: 1.5em;
}

article img {
  max-width: 100%;
  object-fit: contain;
}

article .copyright-desc {
  margin: 8px 0;
  padding: 8px;
  background-color: var(--primary-color);
  font-style: italic;
  font-size: 0.8em;
  color: var(--sedond-text-color);
}

article p.center {
  text-align: center;
}

@media screen and (max-width: 900px) {
  article .title {
    margin: 16px;
  }
}
