:root {
  --primary-color: #f2e4cf;
  --second-color: #f8f3ed;
  --accent-color: #daaa63;
  --accent-second-color: #f5b95e;
  --text-color: #3a180b;
  --sedond-text-color: #91857e;
  --menu-bg-color: #141d2e;
  --nav-height: 88px;
  --card-width: 360px;
  --card-height: 520px;
  --link-color: #bf7200;
}
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: var(--second-color);
}
h1 {
  color: var(--text-color);
}

/* #region 导航 web */
nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--nav-height);
  align-items: center;
  background-color: var(--menu-bg-color);
}
nav .logo {
  color: #2c1810;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
  margin: 0 24px;
  background-color: white;
  text-decoration: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid #0e787c;
  box-shadow: inset 0 0 4px 1px #0000006e, 0 0 4px 1px #00c2e1;
  border-radius: 4px;
}
nav a.logo img {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  margin-right: 8px;
}
nav .pad {
  flex: 1 1 auto;
}
nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  align-items: center;
  z-index: 1;
}
nav ul li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
nav ul li a.menu {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 32px;
  padding: 8px 16px;
  margin: 0 8px;
}
nav ul li a.menu.active {
  background-color: var(--accent-color);
}
nav ul li a.menu:hover {
  background-color: var(--accent-second-color);
}
nav ul li a.menu.active:hover {
  background-color: var(--accent-second-color);
}
/* #endregion 导航 web */

/* 导航 mobile */

/* #region book list cards style */
.main-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main-content {
  margin: 64px 24px 64px 24px;
  max-width: 1600px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-list {
  --gap: 32px;
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  flex-direction: row;
  justify-content: center;
}
.card-list .card {
  margin: var(--gap) 0 0 var(--gap);
  background-color: white;
  position: relative;
  width: var(--card-width);
  max-width: calc(100vw - 64px);
  max-height: var(--card-height);
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.521);
  overflow: hidden;
  transition: 0.35s;
  text-decoration: none;
}
.card-list .card:hover {
  box-shadow: 6px 8px 16px 2px rgba(0, 0, 0, 0.521);
}

.card-list .card .cover {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card-list .card .cover img {
  height: 240px;
  width: 360px;
  object-fit: cover;
  transition: 0.35s;
}
.card-list .card:hover .cover img {
  transform: scale(1.05);
}

.card-list .card .desc {
  margin: 24px;
  max-height: 232px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-list .card .book-name {
  text-align: center;
}
.card-list .card .book-name h1 {
  color: var(--text-color);
  font-size: 1.5em;
}
.card-list .card .book-desc {
  margin-top: 16px;
  color: var(--sedond-text-color);
  font-size: 1em;
}
/* #endregion book list cards style */

/* #region common styles */
.link-open-new {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color);
}
.link-open-new:hover {
  text-decoration: none;
  text-decoration: underline;
}
/* #endregion common styles */

@media screen and (max-width: 900px) {
  nav .logo {
    margin: 0 8px;
  }
  .main-content {
    margin: 24px 8px 8px 8px;
  }
  .card-list {
    --gap: 24px;
  }
  .card-list .card {
    max-width: calc(100vw - 48px);
  }
}
