<div class="banner" [ngClass]="themeModel$ |async">
    <img src="./assets/image/alien/cover.png">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<mat-divider></mat-divider>

<div class="sub-menu">
    <a mat-stroked-button routerLink="ebe1" class="item">外星人访谈录（EBE1）</a>
    <a mat-stroked-button routerLink="ebe1" class="item">外星人访谈录（EBE2）</a>
</div>