<div class="page" [style.background]="hexStr('light','background')">
    <div class="page-wrap">
        <div class="top">
            <div class="wellcom-wrap">
                <h2 class="title">Hello Peter</h2>
                <p class="sub-title">Let's learn something new today!</p>
            </div>
            <div class="search-wrap">
                <mat-icon>search</mat-icon>
                <input class="search-input" placeholder="Search anything here.." type="text" />
            </div>
        </div>
        <div class="cause-banner">
            <div class="banner-image">
                <img src="assets/image/course/banner-1.jpg" #bannerImage>
                <input style="display: none;" type="file" accept="image/*" (change)="imageChoosed($event)" #imageInput>
            </div>
            <div class="banner-text">
                <h2 [style.color]="hexStr('light','primaryContainer')">The right choice of language course</h2>
                <p [style.color]="hexStr('light','primaryContainer')">选择全世界最优秀的语言老师，更能接近本地语言！</p>
            </div>
            <div class="banner-action">
                <button mat-flat-button (click)="chooseImage()">更换图片</button>
            </div>
        </div>
        <div class="bottom">
            <div class="title-bar">
                <h2 class="title">My Course</h2>
                <p class="sub-title">All courses</p>
            </div>

            <div class="card-wrap">
                <div class="card" [style.background]="hexStr('light','tertiaryContainer')">
                    <div class="card-banner">
                        <img src="assets/image/course/banner-1.jpg">
                    </div>
                    <div class="card-row card-title-bar">
                        <div class="title-bar">
                            <h4 clas="title">课程名称</h4>
                            <p class="sub-title">24课时，从小白到大师</p>
                        </div>
                        <div clas="card-user"><mat-icon>account_circle</mat-icon></div>
                    </div>
                    <div class="card-row icon-badge-bar">
                        <div class="icon-badge"><mat-icon>format_list_bulleted</mat-icon><span>24</span></div>
                        <div class="icon-badge"><mat-icon>verified_user</mat-icon><span>18</span></div>
                        <div class="icon-badge"><mat-icon>people</mat-icon><span>236</span></div>
                    </div>
                    <div class="progress-row">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <div class="progress-info">
                            <div>已完成: 25%</div>
                            <div>23天</div>
                        </div>
                    </div>
                </div>
                <div class="card" [style.background]="hexStr('light','tertiaryContainer')">

                </div>
                <div class="card" [style.background]="hexStr('light','tertiaryContainer')">

                </div>
                <div class="card" [style.background]="hexStr('light','tertiaryContainer')">

                </div>
            </div>
        </div>
    </div>
</div>