:host {

    .cc-container {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16px;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .copy-btn {
            opacity: 0;
            transition: 0.3s ease;

            &.show {
                opacity: 1;
            }
        }

        .color-value {
            position: absolute;
            display: flex;
            overflow: hidden;
            font-size: 12px;
            right: 64px;
            padding: 8px;
            border: 1px solid #80808042;
            box-shadow: 0 2px 6px 0 #808080c7;
            border-radius: 2px;
            background-color: rgb(0 0 0 / 90%);
            color: #e1e1e1;
            transition: 0.3s ease;
            width: 0px;
            opacity: 0;
            text-transform: uppercase;

            &.show {
                width: 70px;
                opacity: 1;
            }
        }
    }
}