<div [ngClass]="[themeClass, themeModel]" class="main-container mat-app-background">
  <nav>
    <mat-toolbar>
      <button mat-icon-button class="mobile" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="logo" [routerLink]="['']">
        <img src="/assets/image/logo/apple-icon-60x60.png">
      </a>
      <h1 class="pc">Earth-Why</h1>
      <span class="example-spacer"></span>
      <a mat-button *ngFor="let menu of mainMenuList" routerLink="/{{menu.link}}" class="pc menu-link" [ngClass]="{'active':menu.active}"
        (click)="activeMenu(menu)"><mat-icon>{{menu.icon}}</mat-icon> {{menu.name}}</a>

      <!-- 白天、黑夜模式切换 -->
      <div class="pc" matTooltip="切换白天、黑夜模式">
        <button mat-icon-button class="example-icon" *ngIf="themeModel===env.theme.themeModel.dark" (click)="setThemeModel(env.theme.themeModel.light)">
          <mat-icon>dark_mode</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" *ngIf="themeModel===env.theme.themeModel.light" (click)="setThemeModel(env.theme.themeModel.dark)">
          <mat-icon>light_mode</mat-icon>
        </button>
      </div>

      <!-- 样式themes切换 -->
      <button mat-icon-button class="example-icon" [matMenuTriggerFor]="colorPicker" class="pc" matTooltip="选择样式">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-menu #colorPicker="matMenu">
        <button mat-menu-item (click)="pickTheme('app-pink-theme')" [ngClass]="[themeClass,themeClass==='app-pink-theme'?'color-swatch-btn-checked':'']"
          class="color-swatch-btn">
          <div class="color-swatch color-swatch-pink">
            <div class="color-strip"></div>
            <mat-icon class="color-swatch-icon">check_circle</mat-icon>
          </div>
        </button>
        <button mat-menu-item (click)="pickTheme('app-green-theme')" [ngClass]="[themeClass,themeClass==='app-green-theme'?'color-swatch-btn-checked':'']"
          class="color-swatch-btn">
          <div class="color-swatch color-swatch-green">
            <div class="color-strip"></div>
            <mat-icon class="color-swatch-icon">check_circle</mat-icon>
          </div>
        </button>
        <button mat-menu-item (click)="pickTheme('app-yellow-theme')" [ngClass]="[themeClass,themeClass==='app-yellow-theme'?'color-swatch-btn-checked':'']"
          class="color-swatch-btn">
          <div class="color-swatch color-swatch-yellow">
            <div class="color-strip"></div>
            <mat-icon class="color-swatch-icon">check_circle</mat-icon>
          </div>
        </button>
        <button mat-menu-item (click)="pickTheme('app-blue-theme')" [ngClass]="[themeClass,themeClass==='app-blue-theme'?'color-swatch-btn-checked':'']"
          class="color-swatch-btn">
          <div class="color-swatch color-swatch-blue">
            <div class="color-strip"></div>
            <mat-icon class="color-swatch-icon">check_circle</mat-icon>
          </div>
        </button>
      </mat-menu>
      <button mat-icon-button class="example-icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
  </nav>
  <mat-drawer-container autosize>
    <!-- 移动设备菜单 -->
    <mat-drawer #drawer class="drawer-sidenav" mode="over" hasBackdrop="true">
      <div class="drawer-menu-content">
        <div class="drawer-top">
          <h1 class="drawer-title">Earth-Why</h1>
          <a mat-button [routerLink]="['/demo-pages']" class="menu-link active drawer-item"><mat-icon>temple_buddhist</mat-icon> 佛</a>
          <a mat-button [routerLink]="['/demo-pages']" class="menu-link drawer-item"><mat-icon>all_inclusive</mat-icon> 道</a>
          <a mat-button [routerLink]="['/alien']" class="menu-link drawer-item"><mat-icon>outlet</mat-icon> 外星文明</a>
          <a mat-button [routerLink]="['/demo-pages']" class="menu-link drawer-item"><mat-icon>public</mat-icon> 地球文明</a>
        </div>
        <!-- 白天、黑夜模式切换开关 -->
        <span class="example-spacer"></span>
        <mat-divider></mat-divider>
        <div class="drawer-bottom">
          <button mat-button class="drawer-item" *ngIf="themeModel===env.theme.themeModel.dark" (click)="setThemeModel(env.theme.themeModel.light)">
            <mat-icon>dark_mode</mat-icon> 切换为Light模式
          </button>
          <button mat-button class="drawer-item" *ngIf="themeModel===env.theme.themeModel.light" (click)="setThemeModel(env.theme.themeModel.dark)">
            <mat-icon>light_mode</mat-icon> 切换为Dark模式
          </button>
          <!-- 样式themes切换 -->
          <button mat-button class="drawer-item" [matMenuTriggerFor]="colorPicker">
            <mat-icon>format_color_fill</mat-icon> 更换样式
          </button>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="main-body">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>