@use "@angular/material" as mat;
@import "../styles/theme.scss";
@import "../styles/constants.scss";

:host {
  nav {
    height: $nav-height;
    position: relative;
    height: 64px;
    z-index: 2;
    box-shadow: 0 0 8px 0 #0000002e;
    & * {
      transition: 0.35s;
    }
    .mat-toolbar {
      height: $nav-height;
    }
    a.logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px;
      user-select: none;
      -webkit-user-select: none;
      -webkit-user-drag: none;
      img {
        height: calc($nav-height - 24px);
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
        border-radius: 4px;
      }
    }

    h1 {
      margin: 0;
    }
    .menu-link {
      position: relative;
      height: 100%;
      border-radius: 0;
      font-size: 16px;
      &.active {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 100%;
        }
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0%;
        transform: 0.5s;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .drawer-sidenav {
    height: calc(100vh - $nav-height);
    overflow: auto;
    .drawer-menu-content {
      max-width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      align-items: stretch;
      .drawer-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
      .drawer-top {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .drawer-title {
          font-size: 1.6em;
          margin: 0 8px 16px 0;
        }

        .menu-link {
          position: relative;
          border-radius: 0;
          font-size: 1em;
          &.active {
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              height: 100%;
              width: 4px;
              border-radius: 2px;
            }
          }
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 0;
            border-radius: 2px;
            transform: 0.5s;
          }
          &:hover:after {
            width: 4px;
          }
        }
      }
      .drawer-bottom {
        padding: 24px 24px 80px 24px;
      }
    }
  }

  .main-body {
    width: 100%;
    overflow: auto;
    & * {
      transition: 0.35s;
    }
  }
}

// color swatch
.color-swatch-btn {
  :hover {
    .color-swatch-icon {
      opacity: 0.2;
    }
  }
  .color-swatch-icon {
    opacity: 0;
  }

  &.color-swatch-btn-checked {
    background-color: rgba(128, 128, 128, 0.082);
    :hover {
      .color-swatch-icon {
        opacity: 1;
      }
    }
    .color-swatch-icon {
      opacity: 1;
    }
  }

  mat-icon.mat-icon {
    margin-right: 0;
  }

  .color-swatch {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    .color-strip {
      width: 72px;
      height: 18px;
      margin-right: 16px;
    }

    &.color-swatch-green {
      .color-strip {
        background-color: mat.get-color-from-palette($app-light-green-primary);
      }
      .color-swatch-icon {
        color: mat.get-color-from-palette($app-light-green-accent);
      }
    }

    &.color-swatch-pink {
      .color-strip {
        background-color: mat.get-color-from-palette($app-light-pink-primary);
      }
      .color-swatch-icon {
        color: mat.get-color-from-palette($app-light-pink-accent);
      }
    }

    &.color-swatch-blue {
      .color-strip {
        background-color: mat.get-color-from-palette($app-light-blue-primary);
      }
      .color-swatch-icon {
        color: mat.get-color-from-palette($app-light-blue-accent);
      }
    }

    &.color-swatch-yellow {
      .color-strip {
        background-color: mat.get-color-from-palette($app-light-yellow-primary);
      }
      .color-swatch-icon {
        color: mat.get-color-from-palette($app-light-yellow-accent);
      }
    }
  }
}
