<div class="container">
    <mat-drawer-container autosize [hasBackdrop]="drawerHasBackdrop">
        <mat-drawer #drawer [mode]="drawerMode" [(opened)]="drawerOpened" class="drawer-sidenav" fixedInViewport="true">
            <div class="close-btn-wrap" *ngIf="isMobile">
                <button mat-icon-button (click)="drawer.toggle()" class="close-btn">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="directory" [ngClass]="{'fixed':isFixed}">
                <h3>外星人访谈录（EBE1）</h3>
                <div class="dir">
                    <a mat-button routerLink="ch0" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">来自马克艾罗伊夫人的信件</a>
                    <a mat-button routerLink="ch01" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第一章 我与这位外星人的第一轮访谈</a>
                    <a mat-button routerLink="ch02" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第二章 我进行的第二轮访谈</a>
                    <a mat-button routerLink="ch03" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第三章 我进行的第三轮访谈</a>
                    <a mat-button routerLink="ch04" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第四章 语言的障碍</a>
                    <a mat-button routerLink="ch05" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第五章 阅读的课程</a>
                    <a mat-button routerLink="ch06" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第六章 我受教育的课程开始了</a>
                    <a mat-button routerLink="ch07" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第七章 一堂关于远古历史的课程</a>
                    <a mat-button routerLink="ch08" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第八章 一堂关于近代史的课程</a>
                    <a mat-button routerLink="ch09" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第九章 重要事件的时间表</a>
                    <a mat-button routerLink="ch10" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第十章 生物学的课程</a>
                    <a mat-button routerLink="ch11" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第十一章 科学方面的课程</a>
                    <a mat-button routerLink="ch12" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第十二章 一堂关于不朽的课程</a>
                    <a mat-button routerLink="ch13" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第十三章 一堂关于未来的课程</a>
                    <a mat-button routerLink="ch14" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第十四章 艾罗校阅会谈记录</a>
                    <a mat-button routerLink="ch15" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第十五章 对我的审讯</a>
                    <a mat-button routerLink="ch16" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">第十六章 艾罗起程了</a>
                    <a mat-button routerLink="ch17" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">来自马克艾罗伊夫人邮递的稿件</a>
                    <a mat-button routerLink="ch18" routerLinkActive="active" class="item" (click)="closeDrawerOnMobile($event)">译者结语</a>
                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <div class="content" [ngClass]="{'mobile':isMobile}">
                <router-outlet></router-outlet>
                <p class="reprint-note">转载说明：本文转自
                    <a href="http://www.fosss.net" target="_blank">http://www.fosss.net</a>
                    网站的：<a href="http://www.fosss.net/Book/LuoSiWeiEr/Index.html">外星人访谈</a>，
                    如有侵权请告知
                </p>
                <br />
                <br />
                <br />
                <br />
            </div>
            <mat-toolbar class="bottom-bar" *ngIf="isMobile">
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>list</mat-icon>
                </button>
                <div class="title">
                    <div class="book-name">外星人访谈录（EBE1）</div>
                    <div class="chapt-name">{{chaptName}}</div>
                </div>
            </mat-toolbar>
        </mat-drawer-content>
    </mat-drawer-container>
</div>