<div id="mainContent">
    <h3>第五章</h3>
    <h2>阅读的课程</h2>
    <p class="annotate">（马蒂尔达·欧’丹奈尔·马克艾罗伊的自述）</p>
    <p>我在阅读课程的开始阶段使用了一本教科书的前几页，这本书在19世纪用来教那些美国边疆城市拓荒者家庭的孩子们，书名叫做“McGuffey's Eclectic Reader, Primer Through Sixth”<span class="annotate">
            （麦加菲美德读本，初级到六级）</span>。</p>
    <p>由于我不是教师，而是一名护士，所以这位语言专家在向我提供教学书籍的同时，还给了我一份详尽的教学讲解——需要我花上一天时间的课程——学习如何使用对应的书去教这个外星人学英语。他说，之所以选用这些特别的书籍，是因为它们的最初版本始于1836年，在横跨四分之三个世纪的时间里，用来教美国全部学校五分之四的儿童如何去阅读，而且没有其它任何书籍能够对美国儿童有如此长期的影响力。
    </p>
    <p>麦加菲<span
            class="annotate">（McGuffey）</span>的教学课程，是从以字母顺序学习认字的“初级读本”开始进行的，孩子们可以按步骤利用搭起带有字母的方块进行组字和发音，这个过程涉及在读音教学法中如何教给孩子使字母与发音结合。每一节课都要首先对阅读训练中出现的词语进行研究，而且还要对应做标记以显示每个单词的正确发音。
    </p>
    <p>我发现“第一和第二级读本”中的图片所讲述的故事，都是描述孩子与家庭成员、老师、朋友和动物之间关系的，而“第三、四、五和第六级读本”则是对其进行扩展延伸的内容。我还记得其中一个故事名叫“寡妇和商人”，这是一个关于道德情操的类型的故事，一个商人去帮助一个身处困境的寡妇，后来，当这个寡妇证明了自己的正直时，那商人送给她一件精美的礼物。这些书并不一定是在教你去相信慈善的行为来自于富人。因为我们都知道，慷慨是一种每个人都应该操行的美德。
    </p>
    <p>所有故事的内容都是非常健康有益的，而且还配有相当不错的插图，比如针对诚实、仁慈、节俭、勤劳、勇敢、爱国主义、对上帝的崇敬，以及对父母的尊重。我个人会向任何人推荐这本书。</p>
    <p>我同样发现这本书中所使用的词汇，比现代社会人们常用的有限数量的词语要显得非常先进。我想，自200年前开国元勋们撰写了独立宣言之后，我们已经失去了大量我们自己的语言！</p>
    <p>正如对我指导过的那样，在会谈房间里，我坐在艾罗的身边为她大声朗读麦加菲系列读本，每本书中都针对教学的主题和故事匹配了精美的插图，虽然相对于当今的标准是显得有些过时的。尽管如此，艾罗似乎懂得并全神贯注于课程进程中的每一个字母、发音、音节和词义。我们每天进行14小时的课程，这样未间断地一连持续了3天，我自己占用的休息和吃饭时间刨除在外。
    </p>
    <p class="stress">
        艾罗没有要求过任何休息，她不睡觉。正相反，她一直坐在会谈房间的软垫椅子上，复习回顾我们所讲过的内容。当我每天早晨从上次结束的课程开始讲起的时候，她已经记住了上堂课的内容，而且很顺利地进入了下一章节的学习进程中。这样的学习进度模式不断地加速，直到我为她而采用的朗读教学方式变得失去意义为止。</p>
    <p>虽然艾罗没有可以用来说话的嘴部器官，不过，她现在已经能够用英语作为媒介进行“思考”了。在课程结尾阶段，艾罗已经能够读书并进行自学了。我向她说明了如何使用英语字典去查找学习过程中遇到的生词，在那之后，<span
            class="stress">艾罗开始频繁地翻阅字典</span>，也是从那时起，我的工作角色成了一个负责递送书本的仆人，将她需要的参考书籍络绎不绝地送到她跟前。</p>
    <p>紧接着，“纽勃”先生拿来了一套“大英百科全书”，艾罗尤其喜欢这些书籍，因为书中有许多的图片。在那之后，她又要求阅读更多的图画书和带图片的参考书籍，因为，在她参照图片进行理解的过程中，会更有利于掌握所学内容的含义。</p>
    <p>在接下来的六天里，我猜想，这里可能已经引进了来自于遍及全国范围图书馆中的书籍，因为还没过几天时间，她就已经读完了几百本书！她学习了每一个我能够想象到学科，以及其它很有技术含量的，甚至我从来没想要去了解的科目，比如天文学，冶金学，工程学，数学，各种技术手册等等。</p>
    <p>后来，她开始阅读文学作品，小说，诗集和文学经典著作。艾罗同时还要求阅读大量以人文和历史为主题的书籍。我认为她已经阅读了至少50本关于人类历史和考古学的书。当然，我十分确定，她还接到过一本《圣经》，而且是从头到尾一页接一页地翻看，期间没有进行任何评论或提问。</p>
    <p>虽然我继续保持着每天呆在艾罗身边12-14小时，可是除了她偶尔会向我提问之外，在接下一周的大部分时间里，我们之间并没有进行什么交流。那些提问通常都是针对所读文章背景的理解，或意在阐明书中的一些事情。<span
            class="stress">奇怪的是，艾罗告诉我，她最喜欢的几本书是“爱丽丝梦游仙境”，“堂吉诃德”和“一千零一夜”。她说，这些故事书的作者向人们展示了，拥有一个伟大的灵魂和创造力，远比掌握一项重要的技能或权力更重要。 </span>
    </p>
    <p>由于我无法回答她提出的大量问题，所以我只能向房间外面的人们去请教答案，他们中大部分人都是与科技研究领域相关的人士，其中少数几个问题是关于人文科学的。从综合理解的深度和她所提问题的微妙性能够看出，她的智慧是非常敏锐的。</p>
    <p>我个人认为，她所掌握的地球文明和历史知识，已经超出了我们开始时由她自愿接受的范围。我很快就会发现更多了。</p>
</div>